<h1 id="myHeader" class="header">This is Angular Session</h1>

<h2>Welcome to TechnoFunnel</h2>

<h3>User Name is {{getUserDetails().userName}}</h3>
<h4>User Age is {{getUserDetails().userAge}}</h4>
<h4>User Designation is {{getUserDetails().userDesignation + " Senior"}}</h4>

  <input type="button" (click)="updateUserName()" value="Click To Update" />

  
  <application-other-component></application-other-component>
  <application-other-component></application-other-component>
  <application-other-component></application-other-component>