h1 {
    color: red;
}

div {
    padding: 10px;
    margin: 10px;
}

.container-class {
    border: 1px solid red;
}

img {
    width: 200px;
    height: 150px;
}

.odd-class {
    border: 5px solid grey !important;
}

.even-class {
    border: 5px solid blue !important;
}

.error-user {
    color: red;
}

.normalUser {
    font-size: 35px !important;
    color: green
}